$def with (data, format, error)

$var title: VDF ↔ JSON
$var lead: VDF ↔ JSON
$var nav_id: vdfjson

$if error:
    <div class="alert">
      <strong>ValueError!</strong> Your <em>$format</em> may not be valid!
    </div>
<p>A simple tool to convert between <a href="http://wiki.teamfortress.com/wiki/WebAPI/VDF" title="Valve Data Format on the Team Fortress Wiki">Valve Data Format</a> and <a href="http://json.org/" title="Pls, you already know what JSON is.">JSON</a>.</p>
<form  class="span12"  action="/" method="get">
  <textarea class="span12" style="font-family: monospace;" rows="20" readonly>$:data</textarea>
  <button class="btn btn-large" style="width:100%;" type="submit">Return to index.</button>
</form>