$var title: VDF&lt;-&gt;JSON
$var lead: VDF&lt;-&gt;JSON
$var nav_id: vdfjson

<p>A simple tool to convert between <a href="http://wiki.teamfortress.com/wiki/WebAPI/VDF" title="Valve Data Format on the Team Fortress Wiki">Valve Data Format</a> and <a href="http://json.org/" title="Pls, you already know what JSON is.">JSON</a>.</p>

<form class="span12" action="#" method="post">
  <textarea class="span12" style="font-family: monospace;" rows="20" name="data"></textarea>

  <label class="radio">
    <input type="radio" name="format" id="formatRadio1" value="vdf" checked>
    I certify, to the greatest of my knowledge, that the above text is <strong>VDF</strong>.
  </label>
  <label class="radio">
    <input type="radio" name="format" id="formatRadio2" value="json">
    I certify, to the greatest of my knowledge, that the above text is <strong>JSON</strong>.
  </label>

  <button class="btn btn-large btn-primary" style="width:100%;" type="submit">Do things!</button>
</form>