{% extends "layout.html" %}

{% block tagline %}VDF ↔ JSON{% endblock %}

{% block content %}
    <p>A simple tool to convert between <a href="http://wiki.teamfortress.com/wiki/WebAPI/VDF" title="Valve Data Format on the Team Fortress Wiki">Valve Data Format</a> and <a href="http://json.org/" title="Pls, you already know what JSON is.">JSON</a>.</p>

    <form method="post">
        <textarea style="height: 100%" rows="20" name="data">{{ response if response }}</textarea>

        <label class="radio">
            <input type="radio" name="format" value="vdf" {{ "checked" if format == "json" }}>
            I certify, to the greatest of my knowledge, that the above text is VDF.
        </label>
        <label class="radio">
            <input type="radio" name="format" value="json" {{ "checked" if format == "vdf" }}>
            I certify, to the greatest of my knowledge, that the above text is JSON.
        </label>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Do things!</button>
    </form>
{% endblock %}
